
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');


.App{
    text-align: center;
    margin-top: 100px;
    font-family: 'Roboto';
}
#khanh{
    width: 300px
}
*{
    background-color: #db2ec1;
    color: white;
}
.rlscounter{
    font-size: 20px;
}